body {
    margin: 0;
    font-family: "Helvetica Neue", "PingFang SC", "Source Han Sans",
      "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;

    background-image: url('./png/84137731_p0.png');  
    background-size: cover; /* 使图片覆盖整个页面 */  
    background-repeat: no-repeat; /* 防止图片重复 */  
    background-position: center; /* 图片居中 */  
    background-attachment: fixed;
    margin: 0; /* 移除默认的外边距 */  
    padding: 0; /* 移除默认的内边距 */  
  }

p {
    margin-bottom: 16px;
    overflow-wrap: break-word;
  }

a {
    color: #216cd3;
    text-decoration: none;
    border-bottom: 1px dashed;
  }

hr {
  margin: 30px auto;  
  height: 2px; /* 设置分割线的高度（粗细） */  
  background-color: rgb(0, 0, 0); /* 设置分割线的颜色 */  
  border: none; /* 移除默认的边框 */  
  }

/* 定义短线分割线 */  
.short-line {  
  border-top: 1px solid #000; /* 黑色实线 */  
  width: 50px; /* 短线宽度 */  
  margin: 20px auto; /* 上下外边距和水平居中 */  
  }  
  
/* 定义虚线分割线 */  
.dashed-line {  
  border-top: 1px dashed #000; /* 黑色虚线 */  
  width: 100%; /* 全宽，也可以根据需要调整 */  
  margin: 20px 0; /* 上下外边距 */  
  }  

.collapse-container {  
  border: 1px solid #00d0ff;  
  border-radius: 5px;
  overflow: hidden; /* 隐藏溢出内容 */  
  transition: height 0.3s ease; /* 添加过渡效果 */  
}  
  
.collapsed {  
  height: 0; /* 设置高度为0 */  
  border: none; /* 折叠时隐藏边框，但这样做会有闪烁效果 */  
}  

.center-button {  
    display: block; /* 使按钮成为块级元素（如果需要） */  
    margin: 0 auto; /* 左右外边距为auto，实现水平居中 */  
    /* 或者，如果按钮已经是内联元素，你可以使用： */  
    /* display: inline-block; */  
    /* text-align: center; 在这里不适用，因为它是用于父元素的 */  
    /* 但由于我们只针对按钮，所以不需要这个属性 */  
    width: auto; /* 指定按钮宽度，或者根据需要调整 */  
    /* ... 其他样式 ... */  
  }  

article {  
    border-radius: 5px;
    text-align: left; /* 或者根据你的需要设置 */  
    background-color: #f0f0f0; /* 灰色背景，可以改为#ffffff为白色 */  
    padding: 20px; /* 添加一些内边距使内容不贴边 */  
    margin: 20px; /* 添加一些外边距使文章与页面边缘有距离 */  
    /* 如果需要，可以添加其他样式如边框等 */  
}
button {  
    background-color: #4CAF50; /* 绿色背景 */  
    color: white; /* 白色文本 */  
    border: none; /* 无边框 */  
    padding: 10px 20px; /* 内边距设置 */  
    text-align: center; /* 文本居中 */  
    text-decoration: none; /* 无文本装饰 */  
    display: inline-block; /* 行内块元素 */  
    font-size: 16px; /* 字体大小 */  
    margin: 4px 2px; /* 外边距设置 */  
    cursor: pointer; /* 鼠标指针样式 */  
    border-radius: 8px; /* 边框圆角 */  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */  
    transition: background-color 0.3s ease; /* 过渡效果 */  
  }  
    
button:hover {  
    background-color: #45a049; /* 鼠标悬停时的背景颜色 */  
  }
  

.input-group {  
    margin-top: 20px;  
}  
  
#link-container {  
    margin-top: 20px;  
    display: none; /* 初始隐藏链接容器 */  
}